
/*
#d3eaf2 blue metal e lehte
#3ba1c5 blue e lehte
#2187ab blue
#1a6985 blue e mbyllet
#0f3c4c blue e erret
*/
.navbar-container {
    -fx-background-color: linear-gradient(to bottom, #1a6985, #d3eaf2);
    -fx-padding: 10px;
    -fx-spacing: 15px;
}

.navbar-button {
    -fx-text-fill: #0f3c4c;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-padding: 5px 5px;
    -fx-alignment: center-left;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: white;
}

.navbar-button:hover {
    -fx-background-color: #d3eaf2;
    -fx-border-color: #2187ab;
    -fx-text-fill: #0f3c4c;

}

.navbar-button:pressed {
     -fx-background-color: #6c0a32;
     -fx-translate-y: 1;
     -fx-effect: none;
}

/* Admin Dashboard */
.admin-container {
    -fx-background-color: #E4EFE7;
}

.admin-h {
 -fx-background-color: linear-gradient(to bottom, #3ba1c5, #d3eaf2);
 -fx-border-radius: 5px;
 -fx-font-weight: bold;
}

.admin-labels {
    -fx-font-size: 15px;
    -fx-text-fill: white;
}

/* Ribbon */
.ribbon {
    -fx-background-color: #3ba1c5;
}

.ribbon-button {
    -fx-background-color: transparent;
    -fx-text-fill: #3ba1c5;
}
.ribbon-button:hover{
    -fx-background-color: #d3eaf2;
}
.tabela{
    -fx-background-color: #d3eaf2;

}
.titujt-tabela{

    -fx-background-color: #d3eaf2;
    -fx-border-color:  white;


}
.butonat{
    -fx-background-color: #0f3c4c;
    -fx-text-fill: white;
    -fx-font-weight: bold;

}
.butonat:hover{
    -fx-background-color: #d3eaf2;
        -fx-border-color: #2187ab;
        -fx-text-fill: #0f3c4c;
}
.dialogjet{
    -fx-background-color: #d3eaf2;
}
.labels{
    -fx-text-fill: #0f3c4c;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
.butonat-dialog{
    -fx-background-color: #0f3c4c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;

}
.butonat-dialog:hover{
    -fx-background-color: #d3eaf2;
        -fx-border-color: #2187ab;
        -fx-text-fill: #0f3c4c;

}
.login-register{
   -fx-background-color: linear-gradient(to bottom, #FBE5C0, #900C3F);
}
.title{
    -fx-text-fill: #0f3c4c;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
.links{
    -fx-text-fill: white;
    -fx-font-style: italic;
    -fx-font-size: 14px;
}
.links:hover{
    -fx-text-fill: #0f3c4c;
}
.button:focused {
    -fx-background-color: #d0e6f7;
    -fx-border-color: #5aa9e6;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, #5aa9e6, 5, 0.5, 0, 0);
}


.text-field:focused {
    -fx-background-color: #f0f8ff;
    -fx-border-color: #5aa9e6;
    -fx-border-width: 2px;
}


.combo-box:focused {
    -fx-background-color: #f0f8ff;
    -fx-border-color: #5aa9e6;
    -fx-border-width: 2px;
}

.vbox-container {
    -fx-background-color: linear-gradient(to bottom right, #B9CCBF, #D3E2D7); 
    -fx-border-color: #A0B8A4;
    -fx-border-width: 1px;
    -fx-border-radius: 14px;
    -fx-background-radius: 14px;
    -fx-padding: 15px;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 15, 0.3, 0, 4);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 15, 0.3, 0, 6);
        -fx-background-radius: 16;
        -fx-border-radius: 16;
}


.butonat1 {
    -fx-background-color: #0f3c4c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #6c0a32;
    -fx-border-width: 1;
    -fx-cursor: hand;
   -fx-padding: 4px 10px;
   -fx-font-size: 12px;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.15), 2, 0, 0, 1);
}


.butonat1:hover {
   -fx-background-color: #d3eaf2;
       -fx-border-color: #2187ab;
       -fx-text-fill: #0f3c4c;
}


.butonat1:pressed {
    -fx-background-color: #6c0a32;
    -fx-translate-y: 1;
    -fx-effect: none;
}

.butonat1:pressed {
    -fx-background-color: #6EA397;
    -fx-translate-y: 1;
    -fx-effect: none;
}


.butonat1-danger {
    -fx-background-color: #dc3545;
    -fx-border-color: #a71d2a;
}

.butonat1-danger:hover {
    -fx-background-color: #e55362;
}

.butonat1-danger:pressed {
    -fx-background-color: #a71d2a;
}


.labels {
    -fx-text-fill: #0f3c4c;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.value-label {
    -fx-text-fill: #2C2C2C;
    -fx-font-size: 12.5px;
    -fx-font-weight: bold;
}
